.react-datepicker {
    width: 450%;
    display: flex;
  height: 450%;

  }

  .react-datepicker__month-container {
    width: 100%;
  }
  
  .react-datepicker__current-month,
  .react-datepicker-time__header {
    font-size: 1.5em;
  }
  
  .react-datepicker__month {
    width: 100%;
  }
  
  .react-datepicker__day-names,
  .react-datepicker__week {
    display: flex;
  }
  
  .react-datepicker__day-name,
  .react-datepicker__day {
    flex: 1;
    padding: 0.4em;
    text-align: center;
  }
  
  .react-datepicker__day--selected {
    background-color: #007bff;
    color: #fff;
  }

  .calendar{
    
    background-color: green;
    margin:40px  ;
    left: -300px;
    margin-top: -200px;
    display: block;

    
    
  }